<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>StudentTrade</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="/static/Images/test_logo.png">    <!-- le logo sera present sur toutes les pages-->
        <link rel="stylesheet" href="/static/styles/style_acceuil.css">
       <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 20px;
            background-color: #f4f4f4;
        }

        h4 {
            width: 100%;
            height: 90px;
            padding: 10px;
            border-radius: 20px;
            border: 1px solid #ccc;
            font-size: 16px;
            box-sizing: border-box;
        }

    </style>
        
    </head>
    <body>
        <header class="taskbar">
            <a href="/acceuil.html" target="_parent">
                <img src="/static/Images/test_logo.png" width=50px height=70px title="revenir à la page d'acceuil" alt=" Image non chargé">
            </a>
               <form class="search-bar" action="/search" method="get" enctype="multipart/form-data">
                <input type="text" name="recherche" placeholder=" search"  required />
                <input type="submit" value="Rechercher" id="button_rechercher"/>
              </form>
              <a href="/panier">
                <img src="/static/Images/panier.png" width="50" height="70" alt="Icone utilisateur" class="icon-right">
              </a>
        </header>
            <div>
                <nav>
                    <button class="button" id="button_offre">Offres</button>
                    <button class="button" id="button_ajouter_offre">Ajouter une offre</button>
                    <button class="button" id="button_suggestion">Suggestions</button>
                    <button class="button" id="button_notification">Notification</button>
                    <button class="button" id="button_contact">Contact</button>
                    <button class="button" id="button_aide">Aide</button>
                    <button class="button" id="button_profil">Profil</button>
                    <button class="button" id="button_log_out">Log out</button>
                </nav> 
            </div>

            <main>
                <!--  le code du milieu de la -->
            <section>
              <center><strong><u><h1>NOTIFICATIONS</h1></u></strong></center>
                <!--  exemple pour simuler la page -->
              {% if notification %}
                {% for notif in notification %}
                   <h4 id="messageBody" name="messageBody" required><br>{{notif.message}}</h4>
                   <form method="post" action="/notification/supprimer/{{ notif.id_notification }}">
                                <button type="submit" class="delete-btn" style="background-color: #e74c3c; color: white; border: none; padding: 6px 12px; border-radius: 4px; cursor: pointer;">
                                    🗑 Supprimer
                                </button>
                {% endfor %}
              {% else %}
                    <h1><strong>vous n'avez pas de notification pour le moment</strong></h1>
              {% endif %}
            </section>
            <section class="bas_de_page">
              <figure class="image_bas_de_page">
                <div class="reassurance__img">
                  <img
                    src="/static/Images/004-padlock.png"
                    alt="Site Securisé"
                  />
                </div>
      
                <figcaption>Site Sécurisé</figcaption>
              </figure>
              <figure class="image_bas_de_page">
                <div class=>
                  <img
                    src="/static/Images/001-parcel.png"
                    alt="Service de livraison"/>
                </div>
      
                <figcaption>
                  service de Livraison disponible 24H/24
                </figcaption>
              </figure>
              <figure class="image_bas_de_page">
                <div>
                  <img src="/static/Images/002-badge.png" alt="Qualité Garantie" />
                </div>
      
                <figcaption>Qualité Garantie</figcaption>
              </figure>
              <figure class="image_bas_de_page">
                <div class="reassurance__img">
                  <img
                    src="/static/Images/003-support.png"
                    alt="Notre équipe à votre écoute"/>
                </div>
      
                <figcaption >
                  Notre équipe à votre écoute
                </figcaption>
              </figure>
            </section>
            
            </main>
            <footer>
      <div class="footer_info">
        <div>
          <h3 class="footer_info_title">A propos</h3>
          <ul>
            <li>Fonctionnement du site</li>
            <li>Conditions générales de vente</li>
            <li>Données et Confidentialité</li>
          </ul>
        </div>
        <div>
          <h3 class="footer_info_title">Assistance</h3>
          <ul>
            <li>Centre D'aide</li>
            <li>Nous Contacter</li>
            <a href="https://fr-fr.facebook.com/" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/commons/c/cd/Facebook_logo_(square).png" alt="facebook" width="30" height="30"></a>
            <a href="https://twitter.com/login" target="_blank"><img src="https://th.bing.com/th/id/OIP.QmI9S2QNqq1ysjWdhMWxtQHaHa?w=158&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7" alt="Twitter" width="30" height="30"></a>
            <a href="https://www.instagram.com/" target="_blank"><img src="https://th.bing.com/th/id/OIP.4bd2OBuugOExTZDZTpkrWQHaHY?w=250&h=249&c=8&rs=1&qlt=90&o=6&dpr=1.3&pid=3.1&rm=2"alt="Instagram" width="30" height="30"></a>
          </ul>
        </div>
      </div>
    </footer>

           <script src="/static/Script/script_acceuil.js"></script>    
    </body>
</html>  