<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mails</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 20px;
            background-color: #f4f4f4;
        }

        textarea {
            width: 100%;
            height: 200px;
            padding: 10px;
            border-radius: 5px;
            border: 1px solid #ccc;
            font-size: 16px;
            box-sizing: border-box;
        }

    </style>
</head>
<body>
    {% if email_vendeur%}
        <p>Mail envoyé à {{email_vendeur}} <br></p>
    {% endif %}

    <textarea id="messageBody" name="messageBody" required>{{message}}</textarea>
                

</body>
</html>